/* stili generali della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

body {
    /* background-color: black; */
}


/* ------------------------ stili topbar ----------------------- */
#topbar {
    min-height: 40px;
    width: 100%;
    border: 1px solid black;
    position: relative;
}

#topbar-buttons {
    height: 100%;
    position: absolute;
    top: 5px;
    right: 5px;
}

#topbar-buttons button {
    background-color: #615f5f;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}





/* ------------------------- stili main ------------------------- */







/* ----------------------- stili bottombar ---------------------- */