/* stili generali della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

body {
    background-color: black;
}


/* ------------------------ stili topbar ----------------------- */
#topbar {
    min-height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    background-color: black;    
}

#topbar-buttons {
    height: 100%;
    position: absolute;
    top: 5px;
    right: 5px;
}

#topbar-buttons button {
    background-color: #615f5f;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#topbar-buttons span {
    background-color: #615f5f;
    color: white;;
    border-radius: 5px;
    font-size: 16px;
}



/* ------------------------- stili main ------------------------- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#users-grid {
    width: 84%;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    /* debug */
    /* background-color: orange; */
}

.user-box {
    width: 215px;
    height: 120px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    background-image: url(img/072748875-1c83405e-6566-4e48-a2cf-33405f65c928.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.user-name {
    position: absolute;
    bottom: 2px;
    left: 0;
    color: white;
    background-color: gray;
}

/* ----------------------- stili bottombar ---------------------- */
#bottombar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 60px;
    width: 100%;
    background-color: rgb(49, 49, 49);
    z-index: 1;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
}

#left-buttons {
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    width: 20%;
    align-items: center;

}

.bottombar-buttons {
    text-align: center;
    color: white;
}

.bottombar-buttons i{
    font-size: 25px;
    display: block;
    cursor: pointer;
}

.bottombar-buttons span {
    font-size: 10px;
    cursor: pointer;
}

.angleup-container {
    display: flex;
    align-items: center;
    padding-right: 10px;

}

.angleup-container .fa-angle-up {
    font-size: 12px;
    cursor: pointer;
    color: white;
}


#middle-buttons {
    width: 60%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 10px;
}

#middle-buttons .bottombar-buttons {
    padding-right: 23px;
}

.fa-share-from-square {
    color: rgb(40, 236, 40);
}

#right-buttons {
    width: 20%;
    display: flex;
    justify-content: flex-end;

}

#right-buttons button {
    color: red;
    padding: 0 5px;
    background-color: rgb(130, 129, 129);
    border: none;
    cursor: pointer;
}